<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> - GOV.UK</title>
    <link title="Search" rel="search" type="application/opensearchdescription+xml" href="/search/opensearch.xml"/>
    <%= stylesheet_link_tag "application", integrity: false %>
    <%= stylesheet_link_tag "print", media: "print" %>
    <%= javascript_include_tag 'application', integrity: false %>
    <% if @content_item %>
      <%= render 'govuk_publishing_components/components/meta_tags', content_item: @content_item %>
    <% end %>
    <%= yield :extra_headers %>
  </head>

  <body class="mainstream <%= yield :body_classes %>">
    <div id="wrapper" class="govuk-width-container">
      <%= yield %>
      <% if Rails.configuration.relevancy_prototype %>
      <div class="app-feedback-prompt"><p>If you have any feedback about this tool please email us on 
        <a class="govuk-!-font-weight-bold" href="mailto:relevance-tool-feedback@digital.cabinet-office.gov.uk">
        relevance-tool-feedback@digital.cabinet-office.gov.uk</a>
        </p>
      </div>
      <% end %>
      <% unless Rails.configuration.relevancy_prototype %>
        <%= render 'govuk_publishing_components/components/feedback' %>
      <% end %>
    </div>
  </body>
</html>
